# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build Artifacts

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build and Upload Artifacts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish for Windows x64
      run: dotnet publish -c Release -r win-x64 --self-contained
    - name: Publish for Linux x64
      run: dotnet publish -c Release -r linux-x64 --sself-contained
    - name: Get GitHub Commit hash
      id: hash
      run: echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          
    - name: Upload Windows x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: PLRPC Windows x64 [${{ steps.hash.outputs.hash }}]
          path: "/home/runner/work/PLRPC/PLRPC/PLRPC/bin/Release/net7.0/win-x64/publish/"
          if-no-files-found: error
          retention-days: 3
      
    - name: Upload Linux x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: PLRPC Linux x64 [${{ steps.hash.outputs.hash }}]
          path: "/home/runner/work/PLRPC/PLRPC/PLRPC/bin/Release/net7.0/linux-x64/publish/"
          if-no-files-found: error
          retention-days: 3
